.averageWrapper {
  .descriptionWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .scoreTextWrapper {
    > p {
      margin: 0;
    }
  }

  .score {
    color: red;
  }

  .highScoreColor {
    color: blue;
  }

  .rankText {
    font-weight: 700;
    line-height: 0.5;
    background-color: #ffd202;
  }
}
