@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use '/src/styles/mixins/position';

.notice {
  font-size: sizes.$REGULAR;
  font-weight: sizes.$THIN;

  .comparedResult {
    display: inline-block;
    padding-bottom: 10px;
    line-height: 1px;
    background: linear-gradient(90deg, colors.$THEME 50%, rgba(255, 255, 255, 0%) 50%);
    background-color: none;
    background-position: 100% 0;
    background-size: 200% 100%;
    animation: 1.5s highlight 1.5s 1 normal forwards;

    &.less {
      color: colors.$BLUE;
    }

    &.more {
      color: colors.$ORANGE;
    }

    &.same {
      color: colors.$BLACK;
    }
  }

  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
}

.graphWrapper {
  width: 90%;
  margin-right: 0;
  margin-left: auto;
}
