@use 'src/styles/constants/colors';

.title {
  padding-left: 40px;
}

.contents {
  padding: 40px;
  background-color: #fafbfe;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: colors.$SHADOW 0 0 15px;
}

.healthScore {
  display: flex;
  font-weight: 600;

  .infoIcon {
    margin-left: 5px;
  }
}

.basicInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;
  background-color: #fff9d9;
  border: 1px solid #fcf2bd;
  border-radius: 15px;

  > dt {
    color: colors.$GRAY02;
  }

  > div {
    display: flex;
    justify-content: space-between;
    width: 140px;

    > dd {
      margin: 0;
    }

    .borderRight {
      padding-right: 5px;
      border-right: 1px solid colors.$GRAY01;
    }
  }
}
