@use 'src/styles/constants/colors';
@use 'src/styles/constants/levels';
@use 'src/styles/mixins/flexbox';
@use 'src/styles/mixins/position';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$GRAY01;
}

.scrollArea {
  overflow-y: scroll;
}

.app {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 800px;
  padding-top: 40px;
  background-color: colors.$THEME;
  border-radius: 60px;
  transition: 300ms background-color;

  h1 {
    font-size: 20px;
    font-weight: 600;
  }
}
